#Nivel_Pane{
    -fx-background-image: url("../../Res/Interfaz/Fondos/Fondo_Calle.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}
#Pancho_Pane{
    -fx-background-image: url("../../Res/Interfaz/Fondo_ClickObj.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;

}
#bannerBG{
    -fx-background-color: black;
    -fx-opacity: 25%;
}
#Mejoras_Grid{
    -fx-background-image: url("../../Res/Interfaz/Botonera.png");
    -fx-background-color: #FFFFBA;
}
#PanchoBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("../../Res/Interfaz/ImgPancho.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;

}
#PanchoBtn:hover{
    -fx-background-size: 93%;
}
#PanchoBtn:pressed{
    -fx-background-size: 100%;
}
#CloseBtn{
    -fx-background-image: url("../../Res/Interfaz/Botones/botonNoPresionado.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 98%;
}
#CloseBtn:hover{
    -fx-background-size: 100%;
}
#CloseBtn:pressed{
    -fx-background-image: url("../../Res/Interfaz/Botones/botonPresionado.png");
}
#StatsBtn{
    -fx-background-image: url("../../Res/Interfaz/Botones/botonStats.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 98%;
}
#StatsBtn:hover{
    -fx-background-size: 100%;
}
#StatsBtn:pressed{
    -fx-background-image: url("../../Res/Interfaz/Botones/botonStats.png");
}