.MejorasBtn{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.MejorasBtn:hover{
    -fx-background-size: 80%;
}
#Cursores{
    -fx-background-image: url("../../../resources/Mejoras/Cursores/Cursores_lvl_1.png");
    -fx-background-position: center;
}
#Condimentos{
    -fx-background-image: url("../../../resources/Mejoras/Condimentos/Condimentos_lvl_1.png");
    -fx-background-position: center;
}
#Bebidas{
    -fx-background-image: url("../../../resources/Mejoras/Bebidas/Bebidas_lvl_1.png");
    -fx-background-position: center;
}
#Papas{
    -fx-background-image: url("../../../resources/Mejoras/Papas/Papas_lvl_1.png");
    -fx-background-position: center;
}
#Heladeras{
    -fx-background-image: url("../../../resources/Mejoras/Heladeras/Heladeras_lvl_1.png");
    -fx-background-position: center;
}
#Parrillas{
    -fx-background-image: url("../../../resources/Mejoras/Parrillas/Parilla_lvl_1.png");
    -fx-background-position: center;
}
#Salchicheras{
    -fx-background-image: url("../../../resources/Mejoras/Salchichera/Salchichera_lvl_1.png");
    -fx-background-position: center;
}
#Caja{
    -fx-background-image: url("../../../resources/Mejoras/Caja_Registradora/Caja_Registradora_lvl_1.png");
    -fx-background-position: center;
}
#Empleados{
    -fx-background-image: url("../../../resources/Mejoras/Empleados/Empleados_lvl_1.png");
    -fx-background-position: center;
}
#Sucursales{
    -fx-background-image: url("../../../resources/Mejoras/Sucursales/Sucursales_lvl_1.png");
    -fx-background-position: center;
}
