#CloseBtn{
    -fx-background-image: url("../../../resources/Interfaz/Botones/botonNoPresionado.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 98%;
}
#CloseBtn:hover{
    -fx-background-size: 100%;
}
#CloseBtn:pressed{
    -fx-background-image: url("../../../resources/Interfaz/Botones/botonPresionado.png");
}
#MenuPane{
    -fx-background-color: black;
    -fx-opacity: 40%;
}
#Stats_Pane{
    -fx-background-image: url("../../../resources/Interfaz/Fondo_Stats.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}