.L1{
    -fx-text-alignment: center;
    -fx-font-family: "Comic Sans MS";
}
.Stock{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-text-alignment: center;
}
.Tooltip{
    -fx-background-color: #FFFF96;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: black;
}